* {
    transition: background-color 0.35s;
}

.fab {
    position: fixed;
    z-index: 999;
    top: 40px;
}

.right-fab {
    right: 40px;
}

.left-fab {
    left: 40px;
}

.fab a {
    border: none;
    padding: 15px 25px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
    font-size: 0.75em;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: inherit;
    cursor: pointer;
}

p {
    font-family: Helvetica, sans-serif;
}

.intro p {
    font-size: 1.5em;
    line-height: 1.4em;
}

.intro {
    margin: 40px 80px;
    padding: 50px 350px 0 350px;
    height: 300px;
}

body {
    margin: 0;
    padding: 0;
}

.outline {
    width: 1680px;
    background-color: #000000
}

.dark {
    background-color: #000000;
}

.light {
    background-color: #ffffff;
}

.grid {
    width: 36px;
    height: 44px;
    background: transparent;
    display: inline-block;
    position: relative;
    margin: 0;
}

.instruct {
    position: absolute;
    left: 15px;
    right: 15px;
    width: 212px;
    color: rgb(255, 255, 255);
    z-index: 999;
    line-height: 1.4em;
}

.bar {
    position: absolute;
    width: 1px; 
}

.dark .bar {
    background: #272727;
}

.light .bar {
    background: #c4c4c4;
}

.top {
    width: 40px;
    height: 1px;
    left: 0;
    top: 0;
    position: absolute;
}

.left {
    height: 48px;
    left: 0;
    top: 0;
    position: absolute;
}

.diagr1 {
    height: 32.15px;
    left: 30px;
    top: -3.5px;
    transform: rotate(40deg);
}

.diagr2 {
    height: 32.15px;
    left: 30px;
    top: 20.5px;
    transform: rotate(140deg);
}

.diagl1 {
    height: 32.15px;
    left: 10px;
    top: -3.5px;
    transform: rotate(140deg);
}

.diagl2 {
    height: 32.15px;
    left: 10px;
    top: 20.5px;
    transform: rotate(40deg);
}

.black {
    /* background-color: #ffffff; */
    padding: 1px;
    z-index: 999;
}

.dark .black {
    background-color: #ffffff;
    z-index: 999;
}

.light .black {
    background-color: #000000;
    z-index: 999;
}

.bar:hover {
    background-color: rgb(52, 33, 216);
    padding: 1px;
    z-index: 999;
}