body {
    margin: 0;
    padding: 0;
}

.outline {
    width: 1680px;
    height: 843px;
}

.grid {
    width: 36px;
    height: 44px;
    background: transparent;
    display: inline-block;
    position: relative;
    margin: 0;
}

.bar {
    position: absolute;
    background: #cacaca;
    width: 1px; 
}

.top {
    width: 40px;
    height: 1px;
    left: 0;
    top: 0;
    position: absolute;
}

.left {
    height: 48px;
    left: 0;
    top: 0;
    position: absolute;
}

.diagr1 {
    height: 32.15px;
    left: 30px;
    top: -3.5px;
    transform: rotate(40deg);
}

.diagr2 {
    height: 32.15px;
    left: 30px;
    top: 20.5px;
    transform: rotate(140deg);
}

.diagl1 {
    height: 32.15px;
    left: 10px;
    top: -3.5px;
    transform: rotate(140deg);
}

.diagl2 {
    height: 32.15px;
    left: 10px;
    top: 20.5px;
    transform: rotate(40deg);
}

.black {
    background-color: #000000;
    padding: 0.4px;
}

.bar:hover {
    background-color: rgb(52, 33, 216);
    padding: 0.4px;
}